<div class="container">
    <div class="col-sm-8">
        <canvas id="myCanvas" width="500" height="500"
        style="border:1px solid #d3d3d3;">
        Your browser does not support the canvas element.
        </canvas>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <button ng-click="onDrawClicked()">Disegna</button>
        </div>
        <div ng-repeat="shape in shapes">
            <div class="row">
                <input type="checkbox" ng-model="shape.dash">
                <span>tratteggiato</span>
                <button class="pull-right" ng-click="onRemoveShapeClicked($index)" ng-disabled="removeShapeDisabled()">Elimina</button>
                <table class = "table table-condensed">
                    <tr>
                        <th class="text-center">Punto</th>
                        <th class="text-center"></th>
                        <th class="text-center">X</th>
                        <th class="text-center">Y</th>
                    </tr>
                    <tr ng-repeat="point in shape.points">
                        <td class="text-center"><span ng-show="shape.points.length === 1" ng-class="adjustIcons[point.adjust ? point.adjust : 0]" ng-click="point.adjust = (point.adjust+1) % 5"></span></td>
                        <td><input class="form-control text-center" type="text" ng-model="point.l" width="20"></td>
                        <td><input class="form-control text-right" type="text" ng-model="point.x" width="20"></td>
                        <td><input class="form-control text-right" type="text" ng-model="point.y" width="20"></td>
                    </tr>
                </table>
                <button ng-click="onAddLineClicked(shape)">+</button>
                <button ng-click="onRemoveLineClicked(shape)" ng-disabled="removeLineDisabled(shapes[0])">-</button>
                <hr>
            </div>
        </div>
        <button class="pull-right" ng-click="onAddShapeClicked()">Nuova</button>
    </div>
</div>
