
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html ng-app="MathWork">
  <head>
    <link rel="icon" type="img/ico" href="favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js"></script>
    <script src="/javascripts/ui-bootstrap-tpls-0.13.3.js"></script>
    <script src="http://www.wiris.net/demo/editor/editor"></script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_CHTML">
    </script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script>
      //---------------
      // Main app
      //---------------

      var app = angular.module("MathWork", ['ngRoute', 'ui.bootstrap']);

    </script>
    <script type="text/javascript"src="/javascripts/mathWork.js"></script>

    <div id="mathwork-nav" class="container-fluid">
      <a id="mathwork-brand" class="navbar-brand" href="#/">Mathwork</a>
    </div>
    <ul class="nav nav-tabs" ng-controller="TabController">
      <li role="presentation" ng-class="{active:isCurr(1)}"><a ng-click="setCurr(1)" href="#/editor">Editor</a></li>
      <li role="presentation" ng-class="{active:isCurr(2)}"><a ng-click="setCurr(2)" href="#/cartesian">Cartesian</a></li>
      <li role="presentation" ng-class="{active:isCurr(3)}"><a ng-click="setCurr(3)" href="#/shapes">Shapes</a></li>
    </ul>

    <ng-view></ng-view>
    
    <!-- Controllers -->
	  <script type="text/javascript"src="/ui/ui_editor.js"></script>
	  <script type="text/javascript"src="/ui/ui_cartesian.js"></script>
	  <script type="text/javascript"src="/ui/ui_shapes.js"></script>
	  <script type="text/javascript"src="/ui/ui_login.js"></script>

    <script>
     app.run(function($rootScope, $location) {
        $rootScope.$on( "$routeChangeStart", function(event, next, current) {
          if (next && (next.originalPath === "/editor" || next.originalPath === "/cartesian")) {
            // no logged user, redirect to /login
            if (!$rootScope.loggedUser) {
              $location.path("/");
            }
          }
        })
      });

      //---------------
      // Routes
      //---------------

      //=============================================================================
      app.config(['$routeProvider', function ($routeProvider, $location) {
        $routeProvider
          .when('/', {
            templateUrl: '/ui/ui_login.html',
            controller: 'LoginController'
          })
          .when('/editor', {
            templateUrl: '/ui/ui_editor.html',
            controller: 'EditorController'
          })
          .when('/cartesian', {
            templateUrl: '/ui/ui_cartesian.html',
            controller: 'CartesianController'
          })
          .when('/shapes', {
            templateUrl: '/ui/ui_shapes.html',
            controller: 'ShapesController'
          })
      }]);
    </script>
  </body>
</html>
