
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <script src="http://www.wiris.net/demo/editor/editor"></script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_CHTML">
    </script>
	<script>
	var editor;
    window.onload = function () {
      editor = com.wiris.jsEditor.JsEditor.newInstance({
	    'language': 'en'
      });
	  editor.insertInto(document.getElementById('editorContainer'));
    MathJax.Hub.Config({
  CommonHTML: {
    scale: 200
  },
  "HTML-CSS": {
    preferredFont: "TeX"
  }
});
    }
      function doPreview() {
        var expr = editor.getMathML();
        var prev=document.getElementById("prev");
        prev.innerHTML=expr;
        MathJax.Hub.Queue(["Typeset",MathJax.Hub,"prev"]);
      }
      function doCopy() {
        var expr = editor.getMathML();
        var mathML = document.querySelector('#mathML');
        mathML.innerText=expr;
        document.getSelection().removeAllRanges();
        range= document.createRange();
        range.selectNode(mathML);
        document.getSelection().addRange(range);
        document.execCommand('copy');
        document.getSelection().removeAllRanges();
      }
    </script>
  </head>
  <body>
    <div style="width:100%;height:500px" id="editorContainer"></div>
	<a href="#" onclick="doCopy()">copy</a>
  <div id='prev'></div>
  <div style="color:#FFFFFF" id='mathML'>-- expression MathML here --</div>

  </body>
</html>
