
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html ng-app="MathWork">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.js"></script>
    <script src="http://www.wiris.net/demo/editor/editor"></script>
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=MML_CHTML">
    </script>
    <script type="text/javascript"src="/javascripts/mathWork.js"></script>
	<script type="text/javascript"src="/javascripts/editor.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body  ng-controller="EditorController">
    <div style="display:block">
      <input ng-disabled="isEditMode" type="text" ng-model="exercise">
      <button ng-disabled="isEditMode" ng-click="onNewExercise()">Nuovo</button>
      <select
           ng-disabled="isEditMode" ng-model="solvedExercise" ng-options="opt as opt for opt in solvedExercises">
      </select>
      <button  ng-disabled="isEditMode" ng-click="onSolvedExerciseChosen()">Correggi</button></br>
    </div>
    <div style="display:block; width:100%;height:500px" id="editorContainer"></div>
	<div style="display:block">
    <button  ng-disabled="!isEditMode" ng-click="onSaveClicked(true)">Salva</button>
    <button  ng-disabled="!isEditMode" ng-click="onSaveClicked(false)">Finito</button>
    <button  ng-disabled="!isEditMode" ng-click="onCancelClicked()">Abbandona</button>
  </div>
  <div id='prev'></div>
  <div style="color:#FFFFFF" id='mathML'>-- expression MathML here --</div>

  </body>
</html>
